/* ‹ŒƒXƒ^ƒCƒ‹
div.howtouse
{
font-size:1em;
font-family:arial;
line-height:1.5em;
}

span.companynm
{
font-size:1.1em;
font-weigt:bold;
font-style:italic;
}

p.note
{
font-size:0.9em;
}
*/

body
{
font-size:13px;
height:100%;
margin-bottom:1px;
}

table.howtouse
{
font-size:1.2em;
font-family:arial;
line-height:1.5em;
}

span.topline
{
font-size:1.3em;
font-weight:bold;
color:blue;
}

span.companynm
{
font-size:1.1em;
font-weigt:bold;
font-style:italic;
}

p.note
{
font-size:0.9em;
}